.main-content{
    --bs-gutter-x: 0;
    background-color: rgb(255, 255, 255);
}
.nav-borders .nav-link.active {
    color: #1c4059;
    font-weight: 900;
    border-bottom-color: #1c4059;
}
.nav-borders .nav-link {
    color: #69707a;
    font-size : small;
    border-bottom-width: 0.125rem;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}


@media only screen and (max-width: 415px) {
    .nav-borders .nav-link {
        font-size:x-small;
    }
  }
