<div class="container-fluid main-content rounded shadow-sm p-2">
    <nav class="nav nav-borders">
        <a class="nav-link active ms-0" href="https://www.bootdey.com/snippets/view/bs5-edit-profile-account-details" target="__blank">NEW</a>
        <a class="nav-link" href="https://www.bootdey.com/snippets/view/bs5-profile-billing-page" target="__blank">OPEN</a>
        <a class="nav-link" href="https://www.bootdey.com/snippets/view/bs5-profile-security-page" target="__blank">APPROVED</a>
        <a class="nav-link" href="https://www.bootdey.com/snippets/view/bs5-edit-notifications-page"  target="__blank">CLOSED</a>
    </nav>
</div>

<div class="container-fluid main-content rounded shadow-sm p-2 mt-2">
    <form action="">
        <div class="row">
          <div class="col-sm-12 col-lg-6">
            <label for="">First Name</label>
            <input type="text" name="" id="" class="form-control" placeholder="first name">
          </div>
  
          <div class="col-sm-12 col-lg-6">
            <label for="">Middle name</label>
            <input type="text" name="" placeholder="m name" class="form-control" id="">
          </div>
          <div class="col-sm-12 col-lg-6">
            <label for="">Last Name</label>
            <input type="text" name="" class="form-control" id="" placeholder="last name">
          </div>
        </div>
        <div class="form-row">
          <label for="">Address</label>
          <input type="text" name="" placeholder="address" class="form-control" id="">
        </div>
      </form>
</div>
<div class="container-fluid main-content mt-2 rounded shadow-sm p-2">
    <p class="text-info" style="font-size: larger;">Tables</p>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>aaa</td>
            <td>aaa</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>aaa</td>
            <td>aaa</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>aaar</td>
            <td>aaar</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>aaar</td>
            <td>aaar</td>
          </tr>
        </tbody>
      </table>
    </div>
    
</div>
<div class="container-fluid main-content mt-2 rounded shadow-sm p-2">
  <p class="text-info" style="font-size: larger;">Buttons</p>
  <div style="margin: 3px;">
    <button type="button" class="btn btn-primary">Primary</button>
    <button type="button" class="btn btn-secondary">Secondary</button>
    <button type="button" class="btn btn-success">Success</button>
    <button type="button" class="btn btn-danger">Danger</button>
    <button type="button" class="btn btn-warning">Warning</button>
    <button type="button" class="btn btn-info">Info</button>
    <button type="button" class="btn btn-light">Light</button>
    <button type="button" class="btn btn-dark">Dark</button>
    
    <button type="button" class="btn btn-link">Link</button>
  </div>

  <div class="mt-3">
    <button type="button" class="btn btn-primary position-relative">
      Inboxxxxxxxxxxxxxx
      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
        99+
        <span class="visually-hidden">unread messages</span>
      </span>
    </button>
  </div>
  
</div>