<!--calendar button -->
<!--calendar button -->
<!--calendar button -->


<button routerLink="/calendar" class="floating-button" data-bs-toggle="modal" data-bs-target="#myModal">
      <i
      class="ri-calendar-line floating-button"
      style="color: rgb(255, 255, 255)"
    ></i>
    </button>

<!-- start: Summary -->
<div class="row g-3">
  <div class="col-12 col-sm-6 col-lg-3">
    <a
      class="text-dark text-decoration-none bg-white p-3 rounded shadow-sm d-flex justify-content-between summary-primary"
    >
      <div>
        <i class="ri-shopping-cart-2-line summary-icon bg-primary mb-2"></i>
        <div>Sales</div>
      </div>
      <h4>Rs.123,123</h4>
    </a>
  </div>
  <div class="col-12 col-sm-6 col-lg-3">
    <a
      class="text-dark text-decoration-none bg-white p-3 rounded shadow-sm d-flex justify-content-between summary-primary"
    >
      <div>
        <i class="ri-shopping-cart-2-line summary-icon bg-primary mb-2"></i>
        <div>Purchase</div>
      </div>
      <h4>Rs.123,456</h4>
    </a>
  </div>
  <div class="col-12 col-sm-6 col-lg-3">
    <a
      class="text-dark text-decoration-none bg-white p-3 rounded shadow-sm d-flex justify-content-between summary-success"
    >
      <div>
        <i class="ri-shopping-cart-2-line summary-icon bg-success mb-2"></i>
        <div>Sales</div>
      </div>
      <h4>Rs.123,456</h4>
    </a>
  </div>
  <div class="col-12 col-sm-6 col-lg-3">
    <a
      class="text-dark text-decoration-none bg-white p-3 rounded shadow-sm d-flex justify-content-between summary-danger"
    >
      <div>
        <i class="ri-shopping-cart-2-line summary-icon bg-danger mb-2"></i>
        <div>Inventory</div>
      </div>
      <h4>Rs.123,456</h4>
    </a>
  </div>
  <div class="col-12 col-sm-6 col-lg-3">
    <a
      class="text-dark text-decoration-none bg-white p-3 rounded shadow-sm d-flex justify-content-between summary-danger"
    >
      <div>
        <i class="ri-shopping-cart-2-line summary-icon bg-danger mb-2"></i>
        <div>Sales</div>
      </div>
      <h4>Rs.123,456</h4>
    </a>
  </div>
  <div class="col-12 col-sm-6 col-lg-3">
    <a
      class="text-dark text-decoration-none bg-white p-3 rounded shadow-sm d-flex justify-content-between summary-danger"
    >
      <div>
        <i class="ri-shopping-cart-2-line summary-icon bg-danger mb-2"></i>
        <div>Sales</div>
      </div>
      <h4>Rs.123,456</h4>
    </a>
  </div>
</div>
<!-- end: Summary -->

